* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #333;
    min-height: 100vh;
    position: relative;
    color: white;
}


.image-viewer {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in, visibility .3s ease-in;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
}

.image-viewer.active {
    opacity: 1;
    visibility: visible;
}

.image-viewer #viewerImg {
    height: 80%;
    width: 80%;
    object-fit: contain;
    padding: 20px;
}

.image-viewer span {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#prev,
#next {
    padding: 6px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#closeBtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    padding: 4px 10px;
    font-weight: 700;
}

#closeBtn:hover {
    color: red;
}


.hero-container,
aside {
    background: black;
    padding: 8% 20px;
}

aside {
    max-width: 250px;
    width: 100%;
    height: 100vh;
    position: fixed;
}

aside header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside header h2 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 3.5rem);
    text-transform: capitalize;
}

aside p {
    background: #333;
    padding: 8px 12px;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

aside .filterBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .filterBtn p {
    margin-bottom: 10px;
}

aside .filterBtn button {
    padding: 12px 16px;
    border: none;
    text-align: start;
    transition: .3s ease;
    border-radius: 10px;
}

aside .filterBtn button:hover {
    background-color: grey;
    color: black;
    scale: 1.05;
}


.hero-container {
    width: calc(100% - 260px);
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

.hero-container h2 {
    font-size: clamp(2rem, 6vw, 4.5rem);
    /* Animation */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp .8s ease forwards;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    width: 100%;
    align-items: center;
    padding: 10px;
    z-index: 999;
    /* Animation */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp .8s ease forwards;
    animation-delay: .3s;
}

.hero-container p {
    line-height: 1.6;
}

.search-container {
    background: lightgray;
    padding: 8px;
    border-radius: 999px;
    display: flex;
    gap: 10px;
    width: 80%;
}

.search-container button {
    padding: 3px 5px;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
}

.search-container input {
    width: calc(100% - 40px);
    padding: 8px;
    border: none;
    background: none;
    outline: none;
    caret-color: black;
    font-size: 15px;
}

.fa-magnifying-glass {
    color: whitesmoke;
}

.search-container input::placeholder {
    color: black;
    font-size: 14px;
    font-style: italic;
    opacity: 1;
}


.mobileFilter {
    display: none;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.mobileFilter button {
    padding: 8px 12px;
    font-size: 10px;
    border: none;
    transition: .3s ease;
    border-radius: 5px;
    background: #333;
    color: whitesmoke;
}

/* ========================= GALLERY ========================= */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    /* Gallery animation */
    opacity: 0;
    transform: translateY(50px);
    animation: galleryFade 1s ease forwards;
    animation-delay: 1s;
}

.gallery .images {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.gallery .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.gallery .images img:hover {
    scale: 1.05;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes galleryFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 700px) {
    aside {
        display: none;
    }

    .hero-container {
        margin-left: 0;
        width: 100%;
        padding: 10%;
    }

    .gallery {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery .images{
        height: 150px;
    }

    .gallery .images img {
        height: 100%;
        object-fit: cover;
    }

    .info p {
        text-align: center;
        padding: 0;
    }

    .info .search-container {
        width: 100%;
        padding: 3px 5px;
        align-items: center;
        gap: 0;
    }

    .search-container button {
        height: 25px;
        width: 25px;
    }

    .info button {
        padding: 3px;
    }

    .mobileFilter {
        visibility: visible;
        display: flex;
        opacity: 1;
    }

    .image-viewer {
        top: 25%;
        height: 60%;
    }

    .image-viewer span {
        padding: 10px;
    }

    #prev,
    #next {
        font-size: 15px;
    }

    #closeBtn {
        font-size: 10px;
        padding: 3px 6px;
    }
}